<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.billmain.BillMainMapper">
    <select id="get" resultType="com.example.demo.billmain.BillMain">
        select a.id AS "id" , b.id AS "res.id" , b.address AS "res.address" ,c.id AS "good.id",num,status  from billmain a left join respository b on b.id = a.res left join goods c on c.id =a.good where a.id = #{id}
    </select>
    <select id="findList" resultType="com.example.demo.billmain.BillMain">
        select a.id AS "id" , b.address AS "res.address" ,c.name AS "good.name",num,status  from billmain a left join respository b on b.id = a.res left join goods c on c.id =a.good
        <where>
            <if test="status!=null and status != ''">
                status = #{status}
            </if>
        </where>
    </select>
    <insert id="save">
        insert into billmain(res,good,num,status) value (#{res.id},#{good.id},#{num},#{status})
    </insert>
    <delete id="delete">
        delete from billmain where id= #{id}
    </delete>
    <update id="updata">
        update billmain set res = #{res.id},good=#{good.id},num = #{num} where id = #{id}
    </update>
    <update id="updataFlag">
        update billmain set status = #{status} where id = #{id}
    </update>
</mapper>