<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.basedata.employeeware.EmployeeMapper">

    <select id="get" resultType="com.example.demo.basedata.employeeware.Employee">
        select * from employee where id = #{id}
    </select>
    <select id="findList" resultType="com.example.demo.basedata.employeeware.Employee">
        select * from employee
    </select>
    <insert id="save">
        insert into employee(empId,note,empName) value (#{empId},#{note},#{empName})
    </insert>
    <delete id="delete">
        delete from empLoyee where id= #{id}
    </delete>
    <update id="updata">
        update employee set note=#{note},empName = #{empName} where id = #{id}
    </update>
</mapper>