<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-table.css" rel="stylesheet">
    <script src="http://libs.cdnjs.net/jquery/2.2.1/jquery.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <title>Title</title>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a class="panelButton" href="/goods"><i class="ti-angle-left"></i> 返回</a>
        </h3>
    </div>
    <div class="panel-body">
        <form action="save" class="form-horizontal">
            <input name="id" type="hidden" th:attr="value=${good.id}">
            <div class="form-group">
                <label class="col-lg-2 control-label">物料名称：</label>
                <div class="col-lg-10">
                    <input name="name" th:attr="value=${good.name}"  class="form-control "/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">类型：</label>
                <div class="col-lg-10">
                    <input name="type" th:attr="value=${good.type}"  class="form-control "/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">尺寸：</label>
                <div class="col-lg-10">
                    <input name="size" th:attr="value=${good.size}"  class="form-control "/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">价格：</label>
                <div class="col-lg-10">
                    <input name="value" th:attr="value=${good.value}"  class="form-control "/>
                </div>
            </div>
            <div style="text-align: center">
                <button class="btn btn-primary btn-block btn-lg btn-parsley" data-loading-text="正在提交...">提 交</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>