<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-table.css" rel="stylesheet">
    <script src="http://libs.cdnjs.net/jquery/2.2.1/jquery.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <title>Title</title>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a class="panelButton" href="${ctx}/costc/costC"><i class="ti-angle-left"></i> 返回</a>
        </h3>
    </div>
    <div class="panel-body">
        <form action="save" class="form-horizontal">
            <input name="ioType" type="hidden" th:attr="value=${billType.ioType}">

            <div class="form-group">
                <label class="col-lg-2 control-label">表单类型：</label>
                <div class="col-lg-10">
                    <input name="ioType" th:attr="value=${billType.ioType}"  class="form-control "/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">出入库标志：</label>
                <div class="col-lg-10">
                    <input name="ioFlag" th:attr="value=${billType.ioFlag}"  class="form-control "/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">描述：</label>
                <div class="col-lg-10">
                    <input name="ioDesc" th:attr="value=${billType.ioDesc}"  class="form-control "/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">现有量：</label>
                <div class="col-lg-10">
                    <input name="currQty" th:attr="value=${billType.currQty}"  class="form-control "/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">累计入库：</label>
                <div class="col-lg-10">
                    <input name="inQty" th:attr="value=${billType.inQty}"  class="form-control "/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">累计出库：</label>
                <div class="col-lg-10">
                    <input name="outQty" th:attr="value=${billType.outQty}"  class="form-control "/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">库房号：</label>
                <div class="col-lg-10">
                    <input name="wareId" th:attr="value=${billType.wareId}"  class="form-control "/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-2 control-label">库房名称：</label>
                <div class="col-lg-10">
                    <input name="wareName" th:attr="value=${billType.wareName}"  class="form-control "/>
                </div>
            </div>
            <div style="text-align: center">
                <button class="btn btn-primary btn-block btn-lg btn-parsley" data-loading-text="正在提交...">提 交</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>